<template name="appBody">

    {{> yield region="menu"}}
    {{> yield region="header"}}

    {{#unless connected}}
    <div class="notifications">
        <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
                <div class="title-notification">A tentar conetar</div>
                <div class="description">Ocorreu um problema de conexão ao TypoAd</div>
            </div>
        </div>
    </div>
    {{/unless}}

    <div id="content-container" >
        {{#each thisArray}}
        {{> yield}}
        {{/each}}
    </div>


    {{> yield region="signin"}}
    {{> yield region="join"}}

    {{> yield region="footer"}}


</template>