<template name="Header">
    <div id="intro">
        <div class="item background-cover">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption-center colour-white">
                        <h2>Uma plataforma</h2>
                        <h1>Toda a publicidade que deseja</h1>
                        <p>Jornais nacionais, regionais, locais, revistas, ...</p>
                        {{#if currentUser}}
                        <p><a class="btn btn-lg btn-primary" href="{{pathFor 'adNew'}}" role="button">Criar anúncio</a></p>
                        {{else}}
                        <p><a class="btn btn-lg btn-primary signup" role="button">Criar anúncio</a></p>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="overlay-bg"></div>
        </div>
    </div>
</template>