<template name="Header">
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <section class="page1">
        <div id="video_container" style="overflow:hidden; background-size:cover;">
            <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
                <!--<source src="http://www.demosthenes.info/assets/videos/polina.webm" type="video/webm" />
                <source src="http://www.demosthenes.info/assets/videos/polina.mp4" type="video/mp4" />-->
                Sorry, your browser does not support HTML5 video.
            </video>
        </div>
        <div class="huge-title centered">
            <!-- Huge Title centered -->

            <div class="huge-title centered">

                <div class="logo-phone centered"><img alt="YOURLOGO" src="img/logo-phone.png"></div>  <!-- This Logo is only displayed on Tablet/iPhone !-->

                <h1>A Simple & Easy To Use Free App Landing Page</h1>

                <div class="space"></div>

                <a href="#container" class="button-white goto">Discover more</a>

            </div>

            <!-- IMG DISCOVER MORE -->

            <div class="go-down twelve columns">

                <a href="#container" class="goto"><img src="img/down.png" alt="MORE"></a>

            </div>
        </div>
    </section>
</template>