<template name="Footer">
    <footer id="contact" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="list-inline social-buttons">
                        <li><a class="icon" href="http://www.twitter.com/typoad" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="icon" href="http://www.facebook.com/typoad" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a class="icon" href="http://www.linkedin.com/typoad" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                    <p class="copyright">Copyright © TypoAd 2014</p>
                    <ul class="list-inline quicklinks">
                        <li><a class="copyright" href="#">Política de privacidade</a>
                        </li>
                        <li><a class="copyright" href="#">Termos de uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>