<template name="MenuGeneral">

    <!-- NAVBAR   ================================================== -->
    <div class="navbar-wrapper cbp-af-header cbp-af-header-shrink">
        <div class="container">

            <!-- Fixed navbar -->
            <div class="navbar cbp-af-inner" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand scroll" href="#intro">TypoAd</a></h1>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            {{#if currentUser}}
                            <li><a href="{{pathFor 'listsShow'}}" class="listshow">Pedidos</a></li>
                            <li><a class="js-logout">Logout</a></li>
                            {{else}}
                            <li><a class="signup" href="#">Inscrever-se</a></li>
                            <li><a class="login" href="#">Login</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>