<template name="Footer">
    <div id="container" class="container">
        <!-- SECOND SECTION ############################################### -->
        <section class="page2">
            <div class="row">
                <div class="six columns article make-it-appear-right">
                    <!-- Title -->
                    <h3>5 Minutos</h3>
                    <!-- Content -->
                    <p>Em 5 minutos podes escolher o tipo, o público alvo, o tamanho, as características da tua publicidade <strong>nós mediamos com os mídia</strong>.</p>
                    <div class="space"></div>
                    <a  class="js-open-modal button-blue">blue button with Modal video</a>
                </div>
                <!-- Image from right -->
                <div class="five columns picture make-it-appear-left" >
                    <img src="img/1.png" alt="EXEMPLE">
                </div>
            </div> <!-- End row div -->
        </section>
        <!-- END SECOND SECTION ############################################### -->
        <!-- TIRTH SECTION ############################################### -->
        <section class="page3" >

            <div class="row">

                <!-- Image from left -->

                <div class="five columns picture make-it-appear-right" >

                    <img src="img/2.png" alt="EXEMPLE">

                </div>


                <div class="six columns article make-it-appear-left">

                    <!-- Title -->

                    <h3>Revistas, Jornais...</h3>

                    <!-- Content -->

                    <p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. <b>Andouille</b> tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.</p>

                    <div class="space"></div>

                    <a class="js-open-modal button-green">Another Button</a>

                </div>


            </div> <!-- End row div -->
        </section>
        <!-- END TIRTH SECTION ############################################### -->
        <!-- Modal Window -->
        <div class='modal' id='modal'>

            <div class='modal-content modal-anim--three'>

                <iframe src="//player.vimeo.com/video/64291127?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="560" height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>

        </div>
        <!-- FOURTH SECTION ############################################### -->
        <section class="page4">

            <div class="row">

                <div class="four columns article make-it-appear-right">

                    <!-- Title -->

                    <h3>Gere os teus anúncios</h3>

                    <!-- Content -->

                    <p>Here is the simple exemple of the next section, as you can see, everything is pretty well detailed and easy to understand.</p>

                    <div class="space"></div>


                </div>

                <!-- Image -->

                <div class="seven columns picture make-it-appear-left" >

    <pre>
                    <!-- Article centered on the Page -->

                    <div class="twelve columns centered make-it-appear-top">

                        <!-- Title -->

                        <h4>Finally! Simple and fair pricing.</h4>

                        <!-- Content -->


                        <div class="cost">
                            <p class="symbol">$</p>
                            <p class="value">0</p>
                        </div>


                    </div>
    </pre>

                </div>

            </div> <!-- End row div -->

        </section>
        <!-- END FOURTH SECTION ############################################### -->
        <!-- FIFTH SECTION ############################################### -->
        <section class="page5">


            <div class="row">

                <!-- Article centered on the Page -->

                <div class="twelve columns centered make-it-appear-top">

                    <!-- Title -->

                    <h4>Finally! Simple and fair pricing.</h4>

                    <!-- Content -->

                    <h1>€0</h1>



                </div>


            </div>


        </section>
        <!-- END FIFTH SECTION ############################################### -->
        <!-- FOOTER SECTION ############################################### -->
        <section class="footer">


            <div class="row">

                <!-- Article centered on the Page -->

                <div class="nine columns centered">

                    <!-- Nav Footer -->

                    <ul>
                        <li><a href="http://www.iamsupview.be">About Supview</a> </li>
                        <li> <a href="http://www.baribal.be/showpage/dl/">Get it</a> </li>
                        <li> <a href="http://dribbble.com/Supview">Dribbble</a> </li>
                        <li> <a href="http://www.facebook.com/Supview" rel="nofollow">Facebook</a> </li>
                        <li> <a href="http://twitter.com/Supview" rel="nofollow">Twitter</a> </li>
                        <li> <a href="http://www.behance.net/Supview" rel="nofollow">Behance</a> </li>
                    </ul>

                    <!-- Title -->

                    <p class="copyright">Showpage is a free app landing page made by <a href="http://www.iamsupview.be">Supview</a> and is under  <a href="http://creativecommons.org/licenses/by/4.0/">CC License</a> <br>© Copyright 2014 Supview. All rights reserved.</p>

                    <!-- Logo -->


                    <img class="logo" src="img/logo.png" alt="Logo">

                </div>


            </div>


        </section>
        <!-- END FOOTER SECTION ############################################### -->
    </div> <!-- end of container -->
</template>