<template name="home">
    <!--<div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>-->

    <!-- Feature Section 2 ================================================== -->
    <section id="featured1" class="featured">

        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <img class="margin-top img-responsive" src="img/imac.png" alt="Generic placeholder image" data-scrollreveal="move 100px and enter from the left after 0.55s" width="429">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="vertical-align">
                        <h2>Revistas, Jornais...</h2>
                        <p>Organize todos os seus pedidos de anúncios facilmente num único local, quer seja publicidade em <strong>Revista</strong>, quer seja um anúnico num <strong>Jornal</strong>.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Testimonials ================================================== -->
    <section id="testimonials" class="dark">

        <div class="page-header text-center">
            <h3>Testemunho</h3>
            <h2>O que dizem as pessoas</h2>
        </div>

        <div class="container">

            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/user-avatar1.jpg">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                                            <small>David Parrelli - <a href="http://www.twitter.com/dparrelli" target="_blank">@dparrelli</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/user-avatar2.jpg">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris."</p>
                                            <small>Working Nomads - <a href="http://www.workingnomads.co" target="_blank">@workingnomads</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/user-avatar3.jpg">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium."</p>
                                            <small>Working Nomads - <a href="http://www.workingnomads.co" target="_blank">@workingnomads</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Feature Section 2 ================================================== -->
    <section id="featured2" class="dark with-bg">

        <div class="container">
            <div class="row">
                <div class="col-sm-5 overlay-text">
                    <div class="vertical-align">
                        <h2>Cria o teu anúncio em 5 Minutos</h2>
                        <p>Em 5 minutos podes escolher o tipo, o público alvo, o tamanho, as características da tua publicidade <strong>nós mediamos com os mídia</strong>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay-bg black"></div>

    </section>

    <!-- Pricing ================================================== -->
    <section id="pricing" class="dark">

        <div class="page-header text-center">
            <h3>Preço</h3>
            <h2>Pague o que publica</h2>
        </div>

        <div class="container">
            <div class="row row-centered">
                <div class="plans">
                    <div class="col-md-4 col-sm-6">
                        <div class="plan" data-scrollreveal="enter over 1s">
                            <div class="plan-title">
                                <h2>Gratuito</h2>
                                <h3><sup>€</sup>0<sub>/ mês</sub></h3>
                            </div>

                            <ul class="plan-features">
                                <li>10 anúncios</li>
                                <li>20 uploads de imagens</li>
                                <li>Gestão ilimitada de anúncios</li>
                            </ul>
                            <div class="plan-cta">
                                <p class="plan-buy"><a href="index.html" class="btn">Escolha</a></p>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="plan featured" data-scrollreveal="enter over 1s">
                            <div class="plan-title">
                                <h2>Advanced</h2>
                                <h3><sup>$</sup>47<sub>/ month</sub></h3>
                            </div>

                            <ul class="plan-features">
                                <li><strong>5 users</strong></li>
                                <li>15 projects</li>
                                <li>20GB storage</li>
                            </ul>
                            <div class="plan-cta">
                                <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="plan featured" data-scrollreveal="enter over 1s">
                            <div class="plan-title">
                                <h2>Pro</h2>
                                <h3><sup>$</sup>147<sub>/ month</sub></h3>
                            </div>

                            <ul class="plan-features">
                                <li><strong>50 users</strong></li>
                                <li>Unlimited projects</li>
                                <li>Unlimited storage</li>
                            </ul>
                            <div class="plan-cta">
                                <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
                            </div>
                        </div>
                    </div>-->

                    <div class="col-md-4 col-sm-6">
                        <div class="plan" data-scrollreveal="enter over 1s">
                            <div class="plan-title">
                                <h2>Avançado</h2>
                                <h3><sup>€</sup>30<sub>/ mês</sub></h3>
                            </div>

                            <ul class="plan-features">
                                <li><strong>Pedidos de anúncios ilimitados</strong></li>
                                <li>50 Uploads</li>
                                <li>Gestão ilimitada de anúncios</li>
                            </ul>
                            <div class="plan-cta">
                                <p class="plan-buy"><a href="index.html" class="btn">Escolha</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="plan" data-scrollreveal="enter over 1s">
                            <div class="plan-title">
                                <h2>Empresa</h2>
                                <h3><sup>€</sup>?<sub>Não definido/ mês</sub></h3>
                            </div>

                            <ul class="plan-features">
                                <li><strong>Pedidos de anúncios ilimitados</strong></li>
                                <li><strong>Uploads ilimitados</strong></li>
                                <li><strong>Gestão pessoal de todos os anúncios</strong></li>
                            </ul>
                            <div class="plan-cta">
                                <p class="plan-buy"><a href="index.html" class="btn">Contacte-nos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Announce ================================================== -->
    <section class="cta text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Anuncie agora.</h2>
                    <p><a href="#" class="btn signup" role="button">Criar anúncio</a></p>
                </div>
            </div>
        </div>
    </section>
</template>