<template name="join">
    <div id="signup" class="overlay overlay-content">

        <button type="button" class="overlay-close">Close</button>
        <section class="login-part">
            <p class="login-overlay">
                Inscrição
            </p>
            <form method="post">
                <input class="login-form-control {{errorClass 'email'}}" type="text" name="email" placeholder="Email" required="required" />
                <input class="login-form-control {{errorClass 'password'}}" type="password" name="pw" placeholder="Password" required="required" />
                <input class="login-form-control {{errorClass 'confirm'}}" type="password" name="repeat-pw" placeholder="Repeat Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Criar conta</button>

                {{#if errorMessages}}

                    <div class='alert alert-danger'>
                        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                        {{#each errorMessages}}
                        <div>{{this}}</div>
                        {{/each}}
                    </div>

                {{/if}}
                <p class="disclaimer">Ao inscrever-se está a aceitar os <a href="#">Termos</a> & <a href="#">Política de privacidade</a></p>
            </form>
        </section>
    </div>
</template>