<template name="signin">
    <div id="login" class="overlay overlay-content">

        <button type="button" class="overlay-close">Close</button>
        <section class="login-part">
            <p class="login-overlay">
                Log In
            </p>
            <form>

                <input class="login-form-control {{errorClass 'email'}}" name="email" type="email" placeholder="Email" required="required" />
                <input class="login-form-control {{errorClass 'password'}}" name="password" type="password" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Log me in</button>

                {{#if errorMessages}}

                <div class='alert alert-danger'>
                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                    {{#each errorMessages}}
                    <div>{{this}}</div>
                    {{/each}}
                </div>
                {{/if}}

                <p class="disclaimer">Esqueceu-se da password? <a href="{{pathFor 'lostPassword'}}">Clique aqui...</a> </p>

            </form>
        </section>

    </div>
</template>